.date-clock {
  grid-column: 2/3;
  grid-row: 1/2;
}

.clock {
  align-self: center;
  justify-self: center;
  font-size: 6.875rem;
  font-weight: bold;
  white-space: nowrap;
}

/* 798px  */
@media screen and (max-width: 768px) {
  .clock {
    font-size: 4.9375rem;
  }
  @media screen and (max-width: 412px) {
    .clock {
      width: inherit;
      font-size: 50px;
      white-space: normal;
    }
  }
}
