.login-form {
  grid-row: 2 / 3;
  display: flex;
  color: var(--gn);
}

#loginInput,
#loginInput::placeholder,
.login-btn {
  font-family: "Fira Code", monospace;
  font-size: 1rem;
}

#loginInput {
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--gn);
}

#loginInput:focus {
  outline: none;
}

#loginInput::placeholder {
  color: var(--dark-font);
}

.login-btn {
  background-color: transparent;
  border: none;
  color: var(--gn);
}

.login-text {
  color: var(--dark-font);
}

.red {
  color: var(--red);
}

.hidden {
  display: none;
}

.logout {
  border: none;
  background-color: transparent;
  height: 22px;
  margin: 20px 5px;
  color: var(--gn);
  border: 1px solid var(--gn);
  border-radius: 10px;
  cursor: pointer;
  padding: 0 10px;
  font-family: "Fira Code", monospace;
}

.logout:hover {
  opacity: 0.7;
}

@media screen and (max-width: 412px) {
  .login-form {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}
