@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");
@import "variable.css";
@import "css/todo.css";
@import "css/login.css";
@import "css/clock.css";
@import "css/bookmark.css";

body {
  font-family: "Fira Code", monospace;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #273238;
  color: var(--dark-font);
}

.container {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 3fr 3fr;
}
