:root {
  --red: #bd4546;
  --gn: #9dc06b;
  --pur: #9779c1;
  --bl: #4f99db;
  --org: #ffca52;

  /* Light mode color */
  --light-bg: #fafafa;
  --light-font: #8a8f9a;

  /* Dark mode color */
  --dark-bg: #273238;
  --dark-font: #fafafa;
}
